/**
 * Aether SASS
 * Copyright (C) 2019 Carl Schwan <carl at carlschwan dot eu>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#plasma-last-release {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/wallpaper.jpg);
    height: 350px;
    background-position: center center;
    background-size: cover;
    color: white;
}

.breeze-window {
    max-width: 400px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.breeze-window .kwin-shadow {
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.breeze-window .headerbar {
    background-image: linear-gradient(to bottom, #545f67, #475057);
    color: white;
    text-align: center;
    padding: 10px;
    height: 30px;
    line-height: 12px;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}

.breeze-window .headerbar img {
    width: 22px;
    height: 22px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 4px;
    border-width: 0;
}

.breeze-window img.window-close {
    right: 4px;
}

.breeze-window img.window-maximize {
    right: 30px;
    top: 7px;
    width: 16px;
    height: 16px;
}

.breeze-window img.window-minimize {
    top: 7px;
    width: 16px;
    height: 16px;
    right: 52px;
}

.breeze-window .view {
    padding: 10px;
    color: #000;
    width: 100%;
    background-color: #eff0f1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.breeze-window h2 {
    font-size: 20px;
    margin-top: 10px;
}

/* Feature tabs */

.tab-content-feature {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.nav-features {
    margin-top: 10px;
}

.nav-features .nav-link {
    border-top: 3px solid rgba(77,77,77, 0.8); 
    margin-left: 1px;
    margin-right: 1px;
}

.nav-features .nav-link.active {
    border-top: 3px solid rgba(61,174,233, 0.8); 
}


.download-button-img {
    height: 40px;
}
.download-button-img.playstore {
    height: 60px;
}

a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}

main section {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
}

main h1 {
    font-size: 36px;
}

main h2 {
    font-size: 30px;
}

main h3 {
    font-size: 26px;
}
/* Gradient */
#simple-by-default {
    background: rgba(61,174,233,0.1);
}

#powerful-when-needed {
    background: rgba(218,68,83, 0.07);
}

#plasma-configuration {
    background: rgba(39,174,96, 0.1);
}

#kde-connect {
    background: rgba(246,116,0, 0.05);
}

#distro-neon {
    background: rgba(31, 161,164, 0.2); 
}

#distro-opensuse {
    background: rgba(115, 186, 37, 0.2); 
}

#distro-kubuntu {
    background: rgba(233, 84, 32, 0.2); 
}

#distro-manjaro {
    background: rgba(53, 191, 92, 0.2); 
}

.distro-logo {
    max-height: 50px;
    max-width: 225px;
}
