/**
 * Used for kde.org/products
 */

#productsRow article {
  position: relative;
  padding-bottom: 50px;

  & > a.learn-more {
    position: absolute;
    bottom: 0px;
    left: 15px;
    right: 15px;
  }
}

/**
 * Used for kde.org/products/kirigami
 * Used for kde.org/products/frameworks
 */
main {
  article {
    padding: 20px;
    text-align: center;

    & + article {
      border-top: solid 2px rgba(0, 0, 0, 0.1);
    }
  }

  &.container section {
    padding: 0px;
  }

  .image {
    background-origin: content-box;
    padding: 20px;
    background-repeat: no-repeat;
  }
}

.columns {
  padding: 0px !important;
  display: flex;
  justify-content: center;
  flex-direction: row;
  min-height: 100%;
  align-items: stretch;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

    @media (max-width: 768px) {
      border: none !important;
      width: 100% !important;
    }
  }
}

.section-responsive {
  background-image: linear-gradient(#4080b0 1px, transparent 1px),
    linear-gradient(90deg, #4080b0 1px, transparent 1px),
    linear-gradient(#34719e 1px, transparent 1px),
    linear-gradient(90deg, #34719e 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: center center;

  align-items: stretch;
  min-height: 0px !important;
  color: #fff !important;

  h1 {
    padding-top: 20px;
    background: none !important;
    color: #fff !important;
  }

  p {
    padding: 0px 20px 20px !important;
    color: #fff !important;
  }

  .image {
    background-image: url(../assets/kirigami/kirigami-adapt.png);
    background-size: contain;
    background-position: center center;
    width: 100%;
    background-repeat: no-repeat;
    flex: 1;
    height: 400px;

    @media(max-width: 768px) {
      height: 300px;
    }
  }
}

.section-links {
  h1 {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
  }
}

.section-links-content {
  a {
    display: inline-block;
    color: #feefe2 !important;
    background-color: #e4720c;
    border-radius: 2px;
    padding: 10px 20px;

    &:hover {
      background-color: #f37a0d;
    }
  }
}

.section-elegant {
  flex-direction: row-reverse;

  .image {
    width: 60%;
    background-image: url(../assets/kirigami/subsurface.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

main.container > article {
  min-height: 600px;
}

@media(max-width: 1200px) {
  main.container > article {
    min-height: 500px;
  }
}

@media(max-width: 992px) {
  main.container > article {
     min-height: 400px;
  }
}

@media(max-width: 768px) {
  main.container > article {
    min-height: 300px;
  }
}
