/** Aether MediaWiki
 * Copyright (C) 2017 Ken Vermette
 * Copyright (C) 2019 Carl Schwan <carl at carlschwan dot eu>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#kPatrons h3, #kLinks h3 {
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

#kPatrons a, #kPatrons span {
    text-align: center;
    padding: 0 20px;
    display: block;
    min-width: 200px;
}

#kPatrons img {
    width: 100%;
    max-width: 300px;
}
