#kSocial {
  border-top: solid 1px #cfd5d5;
  text-align: right;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  a {
    padding: 0 17px;
    text-indent: -9999px;
    text-align: left;

    &:after {
      text-align: center;
    }
  }
}

.kSocialLinks {
  line-height: 50px;

  a {
    display: inline-block;
    color: #fafafa;
    background: #27AE60;
    position: relative;
    text-indent: -9999px;
    width: 24px;
    line-height: 30px;
    padding: 0px 17px;
    border-radius: 3px;
    transition: all .2s;

    &:after {
      content: "@";
      font-family: 'glyph';
      font-size: 24px;
      text-indent: 0px;
      color: #fafafa;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      text-align: center;
    }
  }
}


.kSocialLinks a.shareFacebook { background-color: #2980b9; }
.kSocialLinks a.shareGoogle { background-color: #d35400; }
.kSocialLinks a.shareTwitter { background-color: #3daefd; }
.kSocialLinks a.shareForum { background-color: #0068c6; }
.kSocialLinks a.shareTelegram { background-color: #2ca5e0; }
.kSocialLinks a.shareReddit { background-color: #fe4500; }
.kSocialLinks a.shareDiaspora { background-color: #313131; }
.kSocialLinks a.shareYouTube { background-color: #f60000; }
.kSocialLinks a.shareMastodon { background-color: #2a8cd2; }
.kSocialLinks a.shareLinkedIn { background-color: #0077af; }
.kSocialLinks a.sharePeerTube { background-color: #aaaaaa; }
.kSocialLinks a.shareVK { background-color: #4a76a8; }

.kSocialLinks a.shareFacebook:hover { background-color: #3498db; }
.kSocialLinks a.shareGoogle:hover { background-color: #f67400; }
.kSocialLinks a.shareTwitter:hover { background-color: #70c3fe; }
.kSocialLinks a.shareForum:hover { background-color: #1078d6; }
.kSocialLinks a.shareTelegram:hover { background-color: #2ca5e0; }
.kSocialLinks a.shareReddit:hover { background-color: #ff6432; }
.kSocialLinks a.shareDiaspora:hover { background-color: #464646; }
.kSocialLinks a.shareYouTube:hover { background-color: #f66565; }
.kSocialLinks a.shareMastodon:hover { background-color: #2f9fee; }
.kSocialLinks a.shareLinkedIn:hover { background-color: #008dce; }
.kSocialLinks a.sharePeerTube:hover { background-color: #cccccc; }
.kSocialLinks a.shareVK:hover { background-color: #3a66a0; }

.kSocialLinks a.shareFacebook:after { content: "F"; }
.kSocialLinks a.shareGoogle:after { content: "G"; }
.kSocialLinks a.shareTwitter:after { content: "T"; }
.kSocialLinks a.shareForum:after { content: "K"; }
.kSocialLinks a.shareTelegram:after { content: "↗"; }
.kSocialLinks a.shareReddit:after { content: "R"; }
.kSocialLinks a.shareDiaspora:after { content: "*"; }
.kSocialLinks a.shareYouTube:after { content: "V"; }
.kSocialLinks a.shareMastodon:after { content: "m"; }
.kSocialLinks a.shareLinkedIn:after { content: ""; }
.kSocialLinks a.sharePeerTube:after { content: "J"; }
.kSocialLinks a.shareVK:after { content: "i"; font-size: 35px; }

.konqi {
  float: right;
  width: 250px;
  margin-top: -50px;
  margin-left: 40px;
}
